<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AllBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{871,0},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AllButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,118}</string>
                <key>spriteSourceSize</key>
                <string>{129,118}</string>
                <key>textureRect</key>
                <string>{{1000,0},{129,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avtaar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{362,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueHeart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{167,0},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Favourite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,131}</string>
                <key>spriteSourceSize</key>
                <string>{132,131}</string>
                <key>textureRect</key>
                <string>{{1129,0},{132,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fishing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,146}</string>
                <key>spriteSourceSize</key>
                <string>{115,146}</string>
                <key>textureRect</key>
                <string>{{756,0},{115,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameFramepng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,745}</string>
                <key>spriteSourceSize</key>
                <string>{388,745}</string>
                <key>textureRect</key>
                <string>{{0,146},{388,745}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Keno.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,127}</string>
                <key>spriteSourceSize</key>
                <string>{106,127}</string>
                <key>textureRect</key>
                <string>{{542,0},{106,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Others.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,142}</string>
                <key>spriteSourceSize</key>
                <string>{162,142}</string>
                <key>textureRect</key>
                <string>{{1418,0},{162,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PasswordChange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{53,0},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,146}</string>
                <key>spriteSourceSize</key>
                <string>{105,146}</string>
                <key>textureRect</key>
                <string>{{437,0},{105,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TabBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1113,172}</string>
                <key>spriteSourceSize</key>
                <string>{1113,172}</string>
                <key>textureRect</key>
                <string>{{388,146},{1113,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>YellowCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{106,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinscount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,48}</string>
                <key>spriteSourceSize</key>
                <string>{157,48}</string>
                <key>textureRect</key>
                <string>{{1261,0},{157,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullScreeButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{230,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headerbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,107}</string>
                <key>spriteSourceSize</key>
                <string>{1920,107}</string>
                <key>textureRect</key>
                <string>{{0,891},{1920,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logoutButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{648,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{294,0},{68,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LobbySprites.png</string>
            <key>size</key>
            <string>{1920,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2f12c350c774a1a50bddb6e60af3c91:d7604450b33323fd0038154e09b903f3:bd46837322dca88c99a417e1a0902f6c$</string>
            <key>textureFileName</key>
            <string>LobbySprites.png</string>
        </dict>
    </dict>
</plist>
