<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudAnim1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,0},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,220},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,220},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,220},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim13 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,330},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,330},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,330},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,330},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,440},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,440},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,440},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,440},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,0},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,550},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,550},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,550},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,550},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,660},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,660},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,660},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,660},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,770},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,770},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,0},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,770},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,770},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,880},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,880},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,880},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,880},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,990},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,990},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,990},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,990},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,0},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,1100},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,1100},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,1100},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,1100},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,1210},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,1210},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,1210},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,1210},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,1320},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,1320},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,110},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,1320},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,1320},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,1430},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{486,110},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{972,110},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{1458,110},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudAnim9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,110}</string>
                <key>spriteSourceSize</key>
                <string>{486,110}</string>
                <key>textureRect</key>
                <string>{{0,220},{486,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CloudAnim.png</string>
            <key>size</key>
            <string>{1944,1540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f24e6d7743b8db154606128204b167b:f20d69f6e76aa01fc76a5802b8b1466d:3e4d88a1af776bb0591a66999ba58916$</string>
            <key>textureFileName</key>
            <string>CloudAnim.png</string>
        </dict>
    </dict>
</plist>
