<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudSpritepng125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1287},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newCloud4.png</string>
            <key>size</key>
            <string>{1866,1430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dae2b6fc1bbc5554a34d692982771f26:67b63ca9b9f47d510eeac39b5ebb601a:f9b636d4f9ffe6bbb06d67ed6f8dfa06$</string>
            <key>textureFileName</key>
            <string>newCloud4.png</string>
        </dict>
    </dict>
</plist>
