<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudSpritepng44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1287},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1287},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1287},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1430},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1430},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1430},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1573},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newCloud.png</string>
            <key>size</key>
            <string>{1866,1716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cf24162480d2f875f134c772350e6fa:594c07e9e3101f41b2c90338df7d373d:a91f8ebfa2236f4f8f0e1212e5371a8c$</string>
            <key>textureFileName</key>
            <string>newCloud.png</string>
        </dict>
    </dict>
</plist>
