<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudSpritepng79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newCloud2.png</string>
            <key>size</key>
            <string>{1866,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0e1f4536630b55d2f050df70d279ec7:241b0003ae28476798a5bab550197d26:a465846213384f288c7c824b50d2bd92$</string>
            <key>textureFileName</key>
            <string>newCloud2.png</string>
        </dict>
    </dict>
</plist>
