<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudSpritepng100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng102 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1287},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1287},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1287},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1430},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newCloud3.png</string>
            <key>size</key>
            <string>{1866,1573}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8f633b4e86b58b131d699f844c0f17a:f21b839597192e1f55467b44ef6ab8cd:8e84600452317c9020bd76494388fbcd$</string>
            <key>textureFileName</key>
            <string>newCloud3.png</string>
        </dict>
    </dict>
</plist>
