<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudSpritepng1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,429},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,572},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,715},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,858},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1001},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1144},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1287},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,0},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1287},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1287},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1430},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1430},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1430},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1573},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1573},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1573},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1716},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1716},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1716},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,1859},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,1859},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,1859},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,143},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{0,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{622,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloudSpritepng9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,143}</string>
                <key>spriteSourceSize</key>
                <string>{622,143}</string>
                <key>textureRect</key>
                <string>{{1244,286},{622,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>newCloud1.png</string>
            <key>size</key>
            <string>{1866,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b3b543a1f9bd3e38c08898302ac7542:db808d97d98354c3b663b015918d5774:436cf236cb1800772b7ccfd3c13fd9a5$</string>
            <key>textureFileName</key>
            <string>newCloud1.png</string>
        </dict>
    </dict>
</plist>
