<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>checkboxboundry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,42}</string>
                <key>spriteSourceSize</key>
                <string>{41,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dollarSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,549}</string>
                <key>spriteSourceSize</key>
                <string>{504,549}</string>
                <key>textureRect</key>
                <string>{{457,0},{504,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,1033}</string>
                <key>spriteSourceSize</key>
                <string>{617,1033}</string>
                <key>textureRect</key>
                <string>{{0,549},{617,1033}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inputboxBoundry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,85}</string>
                <key>spriteSourceSize</key>
                <string>{572,85}</string>
                <key>textureRect</key>
                <string>{{961,0},{572,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginbutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,119}</string>
                <key>spriteSourceSize</key>
                <string>{374,119}</string>
                <key>textureRect</key>
                <string>{{83,0},{374,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1082,664}</string>
                <key>spriteSourceSize</key>
                <string>{1082,664}</string>
                <key>textureRect</key>
                <string>{{617,549},{1082,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{42,54}</string>
                <key>textureRect</key>
                <string>{{41,0},{42,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginScreen.png</string>
            <key>size</key>
            <string>{1699,1582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41955ec3f6b4278e1da197caa6c1f3cb:8260ff6fda56631555735555d714c4f9:a36ada20a78389576b46496fb7ca8aa3$</string>
            <key>textureFileName</key>
            <string>loginScreen.png</string>
        </dict>
    </dict>
</plist>
