<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{0,0},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{239,204},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{478,204},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{717,204},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{956,204},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{1195,204},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{1434,204},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{1673,204},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{0,408},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{239,408},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{478,408},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{239,0},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{717,408},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{956,408},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{1195,408},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{1434,408},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{1673,408},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{478,0},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{717,0},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{956,0},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{1195,0},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{1434,0},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{1673,0},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{0,204},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spiningSmall.png</string>
            <key>size</key>
            <string>{1912,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:419e75e30dd06a843cc5e5670d481d1d:a60597643596cf59b9451e011f4059f4:fb9b667507b0bec57f80f7ff4a3d80cd$</string>
            <key>textureFileName</key>
            <string>spiningSmall.png</string>
        </dict>
    </dict>
</plist>
